---
layout: base
---

{% include header.html type="page" %}

<style>
  * {
      box-sizing: border-box;
  }
  .row{
    margin-left: 50px;
    margin-right: 50px;
  }
  .column {
      float: left;
      padding: 10px;
  }
  .left {
  width: 75%;
  }
  .right {
    width: 25%;
  }
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 600px) {
      .column {
          width: 100%;
      }
  }
</style>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="column">
      {{ content }}
    </div>
    <div class="column">
      <h3>Research Interests</h3>
      <p> Test text </p>
    </div>
    {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {% include comments.html %}
  </div>
</main>
