---
layout: base
---

{% include header.html type="page" %}

<style>
  * {
    box-sizing: border-box;
  }
  
  .row{
    margin-left: 150px;
    margin-right: 150px;
  }
  .column {
    float: left;
    padding: 20px;
  }
  .left {
    width: 75%;
  }
  .right {
    width: 25%;
    position: fixed;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
</style>

<main>
  <div class="row">
    <div class="column left">
      {{ content }}
    </div>
    <div class="column right">
      <h2>Research Interests</h2>
      <p>Syntax</p>
      <p>Psycholinguistics</p>
      <p>Aphasia</p>
      <br>
      <h2>Affiliations</h2>
      <p>Northwestern Linguistics Department</p>
      <p>Syntax, Semantics, and Sentence Processing Lab</p>
    </div>
    {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {% include comments.html %}
  </div>
</main>
